<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.vink.takeanorder">

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/icon_shephard_profile_round"
        android:roundIcon="@drawable/icon_shephard_profile_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:roundIcon="@mipmap/ic_launcher_round"-->

    </application>
</manifest>